body {
    background-color: #F5F5F5;
}

button {
    margin: 10px;
    border-radius: 30px;
    border: solid black;
    height: 50px;
    min-width: 150px;
}

input {
    width: 30px;
    height: 20px;
    margin-left: 5px;
}

#header {
    display: flex;
    justify-content: center;
}

#main {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#user-input {
    display: flex;
    align-items: center;
}

#user-choice {
    margin-right: 5px;
}

#hint {
    font-size: 14px;
    color: green;
    margin: 0;
    width: 260px;
}

#hint.error {
    color: red;
}

#grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    background-color: lightgray;
    border-radius: 2%;
    border-style: solid;
    border-color: gray;
    border-width: 10px;
    margin: 5vh 5vw;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.6);
}

.grid-element {
    display: flex;
    flex: 1, 1, 0;
    border: 1px solid white;
    /*height: 29.25px;
    width: 29.25px;*/
}

.black {
    background-color: black;
}